<div class="showArticle">
	<div class="title">
	<h3><%= @article.title%> </h3> <br>
	</div>
<div class="description">
	<h3> Description:<br><br><br></h3>
	 <%= simple_format(@article.description)%> 
	<%= link_to "Edit this article", edit_article_path(@article), class: "editBtn1"%> |
	<%= link_to "Back to article listing", articles_path, class: "editBtn2"%> | 
	<%= link_to "Delete article", article_path(@article), method: :delete, data: {confirm: "Do you want to delete article?"}, class: "editBtn3" %>
</div>
</div>
