<h1 style="font-weight: bold; text-align: center"> All Alpha bloggers </h1>
<div align="center" ">
<%= will_paginate%>
</div>
<% @users.each do |user| %>


<ul class="allusers">

<li style="padding-top: 5px;font-size: 20px "><%= link_to "#{user.username}", user_path(user)%> </li><br>
<li><%= link_to gravatar_for(user), user_path(user)%></li>
<li style="font-size: 10px; padding-top: 10px;"><%= pluralize(user.articles.count, "article") if user.articles%></li>
<% if logged_in? && current_user.admin?%>
<li><%= link_to "Delete user", user_path(user), method: :delete, data: {confirm: "Do you want to delete user?"}, class: "editBtn3" %></li>
<%end%>
</ul>





<%end%>
<div align="center" ">
<%= will_paginate%>
</div>