<h1>Welcom to <%= @user.username%>'s page</h1><br>


<%= gravatar_for @user %> <br><br>
<% u_id = @user.id%>

<h4><%=@user.username%>'s articles:</h4><br>

<% if @user.articles.count>5%>
<div align="center" ">
<%= will_paginate @user_articles%>
</div>
<%end%>
<%= render 'articles/article', obj: @user_articles%>






